## Homework 3

#### Question 1

In [2]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [3]:
def grader(name):
    if name in marks.keys():
        return marks[name]
    else:
        print('Student not found')

In [4]:
grader('Andy')

88

In [5]:
grader('Jules')

55

In [6]:
grader('Mark')

Student not found

In [9]:
def avg_grades(grade_list):
    return sum(grade_list.values()) / len(grade_list)

In [10]:
avg_grades(marks)

75.2

#### Question 2

In [15]:
def squares(num):
    while num < 12:
        print(num, 'squared is', num ** 2)
        num += 1

In [16]:
squares(8)

8 squared is 64
9 squared is 81
10 squared is 100
11 squared is 121

#### Question 3

In [40]:
def sum_function(num):
    n = 1
    total = 0
    while n <= num:
        total += n
        n += 1
    print(total)

In [41]:
sum_function(8)

36

#### Question 4

In [35]:
def sum_forloop(num):
    total = 0
    for n in range(num + 1):
        total += n
        print(total)

In [36]:
sum_forloop(8)

0
1
3
6
10
15
21
28
36

#### Question 5

In [37]:
import statistics as stats

def summary_stats(number_list):
    print('Mean:', stats.mean(number_list))
    print('Sum:', sum(number_list))
    print('Standard Deviation:', stats.stdev(number_list))

In [43]:
summary_stats(range(1,101))

Mean: 50.5
Sum: 5050
Standard Deviation: 29.011491975882016

#### Question 6

In [39]:
def minimum(v1, v2, v3, v4):
    minvalue = v1
    if v2 < minvalue:
        minvalue = v2
    if v3 < minvalue:
        minvalue = v3
    if v4 < minvalue:
        minvalue = v4
    return minvalue

In [70]:
def print_min(v1, v2, v3, v4):
    mini = 0
    mini = minimum(v1, v2, v3, v4)
    print(mini)

In [71]:
print_min(3,9,5,2)

2